<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset="UTF-8">
    <title>2019HC04178 Project</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="login">
        <h1>Classify Ethereum Account</h1>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="http://localhost:7000/classify" method="post">
            <input type="text" name="address" placeholder="Address" required="required" />

            <button type="submit" class="btn btn-primary btn-block btn-large">Classfiy</button>
        </form>

        <br>
        <h5  style="text-align:center">{{ addr }}</h5>
        <div>
            <table border=1 class="customers">
                {% for key, value in result.items() %}
                <tr>
                    <th> {{ key }} </th>
                    <td> {{ value }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
    <br>



</body>

</html>